.bg-white {
    background: white;
}
.border-none {
    border: none;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-stretch {
    align-items: stretch;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.align-self-baseline {
    align-self: baseline;
}

.align-self-stretch {
    align-self: stretch;
}

.flex-fill {
    flex: 1 1 auto;
}

.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}

.items-start {
    align-items: flex-start;
}
.items-end {
    align-items: flex-end;
}
.items-center {
    align-items: center;
}

.justify-start	 {
    justify-content: flex-start;
}
.justify-end	 {
    justify-content: flex-end;
}
.justify-center	 {
    justify-content: center;
}
.justify-between	 {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.text-success-500 {
    color: rgb(34, 197, 94);
}
.text-warning-500 {
    color: rgb(34, 197, 94);
}

.top-0 {
    top: 0px;
}

.top-px {
    top: 1px;
}

.top-0\.5 {
    top: 0.125rem; /* 2px */
}

.top-1 {
    top: 0.25rem; /* 4px */
}

.top-7 {
    top: 1.75rem; /* 28px */
}

.top-20 {
    top: 5rem; /* 80px */
}

.top-32 {
    top: 8rem; /* 128px */
}


.mt-0 {
    margin-top: 0px;
}

.mt-px {
    margin-top: 1px;
}

.mr-4{
    margin-right: 1rem; /* 16px */
}

.mt-0\.5 {
    margin-top: 0.125rem; /* 2px */
}

.mt-1 {
    margin-top: 0.25rem; /* 4px */
}

.mt-2 {
    margin-top: 0.5rem; /* 8px */
}

.mt-7 {
    margin-top: 1.75rem; /* 28px */
}
.mt-8 {
    margin-top: 2rem; /* 32px */
}

.mt-12 {
    margin-top: 3rem; /* 28px */
}

.mt-20 {
    margin-top: 5rem; /* 80px */
}

.mt-32 {
    margin-top: 8rem; /* 128px */
}
.mb-1 {
    margin-bottom: 0.25rem; /* 4px */
}

.mb-2 {
    margin-bottom: 0.5rem; /* 8px */
}

.mb-7 {
    margin-bottom: 1.75rem; /* 28px */
}
.mb-8 {
    margin-bottom: 2rem; /* 32px */
}

.mb-12 {
    margin-bottom: 3rem; /* 28px */
}

.mb-20 {
    margin-bottom: 5rem; /* 80px */
}
.mb-32 {
    margin-bottom: 8rem; /* 128px */
}
.pl-20 {
    padding-left: 5rem; /* 80px */;
}
.pr-20 {
    padding-right: 5rem; /* 80px */;
}
.w-12 {
    width: 3rem; /* 48px */
}
.w-24 {
    width: 6rem; /* 96px */
}
.w-48 {
    width: 12rem; /* 192px */
}
.w-64 {
    width: 32rem; /* 512px */
}
.w-full {
    width: 100%;
}

.hidden{
    display: none;
}

@media (max-width: 1024px){
    .lg-hidden{
        display: none;
    }
}

.block{
    display: block;
}

@media (max-width: 1024px){
    .lg-block{
        display: block;
    }
}