$main-color: #123;
$text-color: #444;

$white: #FFF;
$grey: #AAA;
$light-grey: #F2F2F2;
$dark-grey: #444;
$red: #ce0a0a;
$green: #31aa66;

$title: rem(30);
$subTitle: rem(24);
$paragraph: rem(18);
$container-width: 1200px;
