/* -------------------------------------------------------------------------- */
/*                                 Typography                                 */
/* -------------------------------------------------------------------------- */

/* ---------------------------------- Base ---------------------------------- */

html {
    // background-color: $light-grey;
    font: {
        family: $font1;
        size: rem(18);
    }
}

/* -------------------------------- Headings -------------------------------- */

h1 {
    color: $blue;
    font-size: rem(30);
}
h2 {
    font-size: rem(24);
}

