section#editCard {
    //height: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    padding: 2em;

    & form {
        display: flex;
        flex-direction: column;
        width: 100%;


        input[type="checkbox"],
        label[for='status'] {
            display: inline-block;
            vertical-align: middle;
        }

        & label {
            font-size: rem(14);
            color: #888888;
            font-weight: bold;
            width: fit-content;
        }

        & input:not([type="submit"]):not([type="checkbox"]) {
            border: none;
            border-radius: 11px;
            height: 40px;
            outline: none;
            background-color: #f2f5fa;
            margin: 8px 0;
            padding-left: 15px;
        }

        &[type="checkbox"] {
            margin: 0;
            accent-color: $grey;
        }

        & input[type="submit"] {
            border-radius: 11px;
            height: 50px;
            outline: none;

            &[value="Supprimer"] {
                background-color: red !important;

            }
        }
    }
}