.pageDashboard {
  height: 100%;
  width: 100%;
  
}

.secondPart {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  
  margin: 0 auto;
  //flex-basis: 81%;
}

.stats {
  width: 84%;
  margin: 0 auto;
  padding: 0 30px 10px
  // border-bottom: 3px solid rgba(0, 81, 239, 0.6);
  // padding-bottom: 6px;
  // margin: {
  //   left: -30px;
  //   right: 101.5px;
  // }

  // div {
  //   &:first-child {
  //     margin-left: 30px;
  //     gap: 30px;
  //   }

  //   &:last-child {
  //     margin-right: 30px;

  //     a {
  //       color: $main-color;
  //     }
  //   }

  //   p {
  //     font-weight: 700;
  //     margin: {
  //       top: 39px;
  //       bottom: 0;
  //     }
  //   }
  // }
}
