main.error-404 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & > h1 {
        margin: 0;
        font-weight: 600;
        font-size: rem(288);
        user-select:none; 
   }

    & > a {
        padding: 10px;
        border-radius: 11px ;
        font-size: rem(18);
        box-shadow: 5px 0 10px 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        text-decoration: none;
        color: black;
        &:hover {
            zoom: 110%;
        }
    }
}