main.forgetPassword {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    section.container-forgetPassword {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 40%;

        & h1 {
            //font-size: rem(32);
        }

        & div:not(.forgetPassword-icon) {
            width: 90%;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $choice-color;

            & h3 {
                color: $choice-color;
                text-transform: uppercase;
                cursor: pointer;
                margin: 0;

                &.active {
                    color: $primaryBlue;
                    border-bottom: 5px solid $primaryBlue;
                }
            }
        }

        & div.forgetPassword-icon {
            position: relative;
            & i {
                position: absolute;
                right: 0;
                padding: 16px 18px;
                cursor: pointer;

                border-left: 1px solid rgba(0, 0, 0, 0.2);

            }
        }



        & p {
            color: $choice-color;
            display: none;

            &.active {
                display: block;
            }
        }

        form#formLostPassword {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            width: 90%;
            & input {
                width: 100%;
                height: 50px;

                &[type="email"] {
                    border-radius: 11px;
                    width: 100%;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    padding-left: 17px;
                    padding-right: 57px;
                    box-sizing: border-box;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    font-weight: normal;

                    &::placeholder {
                        color: $color-label;
                    }
                }
                &[type="submit"] {
                    border-radius: 50px;
                }
            }
        }
    }

}

@media only screen and (max-width: 913px) {
    section.container-forgetPassword {
        width: 80% !important;
    }
  }
  
  @media only screen and (max-width: 540px) {
    section.container-forgetPassword {
        width: 100% !important;
    }
  }