section div .profileImg  {
  > img{
    height: 100%;
    width: 100px;
    border-radius: 50%;
    margin: 0 40px 0 18px;
  }
  > .fa-folder-open {

    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.6);
z-index: 1;
  }
}

.formProfile  {

  div a{
    margin-left: 16px;
  }
  .role{
    position: absolute;
    font-size: rem(18);
    color: $system-grey;
  }
  .title{
    font-size: rem(30);
  }

  #editProfile {
    border: none;
    background-color: $white;
    cursor: pointer;
    font-size: rem(18);
  }

}


.greytext{
  font-size: rem(18);
  color: $system-grey;
}


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 rem(350) 0 rem(350);
  margin-top: rem(200);
  width: 650px;
}
