section div .profileImg  {
  > img{
    height: 100%;
    width: 100px;
    border-radius: 50%;
    margin: 0 40px 0 18px;
  }
  > .fa-folder-open {

    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.6);
z-index: 1;
  }
}

.formProfile  {
  height:100%;
  
  div a{
    margin-left: 16px;
  }
  .role{
    position: absolute;
    font-size: rem(18);
    color: $system-grey;
  }
  .title{
    font-size: rem(30);
  }

  .disabled {
    color: #6c757d;
  }

  .hidden {
    visibility: hidden;
  }

  #editProfile {
    border: none;
    background-color: $white;
    cursor: pointer;
    font-size: rem(18);
  }

}

.inputProfile {
  width: 600px;
  border: none;
  border-bottom: solid 1px;
  font-size: rem(18);
  padding-top: 10px;
  padding-bottom: 4px;
  margin-bottom: 45px;
  font-family: $font1;
  color: black;
  padding-left: 5px;
}

.greytext{
  font-size: rem(18);
  color: $system-grey;
}


.container{
  display: flex;
  flex-direction: column;
  width: 650px;
  margin: auto;
}
