section div img {
  height: 100%;
  width: 100px;
  border-radius: 50%;
  margin: 0 40px 0 18px;
}

section div a {
  margin-left: 16px;
}

section  {
  font-weight: 260;
}

.role{
  position: absolute;
  font-size: rem(18);
  color: $system-grey;
}
.greytext{
  font-size: rem(18);
  color: $system-grey;
}

.title{
  font-size: rem(30);
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 rem(350) 0 rem(350);
  margin-top: rem(200);
  width: 650px;
}