h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 1.5rem;
    color: #ffd700;
}

.index-header{
    display:flex;
    justify-content: center;
    
    align-items: center;
}

.page-container{
    display:flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    width: 100vw;
    min-height: 200px;
    

    & div{
        width: 100%;
        background-color: #ffd700;
        display: flex;
        justify-content: center;
        align-items: center;
        
        & p {
            font-size: 5rem;
            font-weight: 700;
        }
    }

}