$font1: "Poppins", sans-serif;

$text-color: rgb(68, 68, 68);

$white: rgb(255, 255, 255);
$grey: rgb(242, 245, 250);
$light-grey: rgb(242, 242, 242);
$system-grey : rgb(158, 158, 158);
$dark-grey: rgb(68, 68, 68);
$dark: rgb(18, 18, 18);
$red: rgb(206, 10, 10);
$red-btn: rgba(218, 74, 74, 0.9);
$green: rgb(49, 170, 102);
$blue: rgb(0, 81, 239);
$lightBlue: rgb(32, 107, 255);
$navbar-bg: rgb(247, 247, 247);
$navbar-text: rgb(158, 158, 158);

$main-color: $blue;

$container-width: 1200px;