$font1: "Poppins", sans-serif;

/* -------------------------------- Colors -------------------------------- */

/* --------------------- Black --------------------- */
$black: #000;

/* --------------------- White --------------------- */
$white: #ffffff;

/* --------------------- Grey --------------------- */
$grey: #f2f5fa;
$light-grey: #f2f2f2;
$navbar-text: #9e9e9e;
$text-color: #444444;
$dark-grey: #444444;
$navbar-bg: #f7f7f7;
$background-card: #FBFBFB;

/* --------------------- Blue --------------------- */

$primaryBlue: #0051EF; 
$lightBlue: #1f69ff;

/* --------------------- Green --------------------- */
$green: #31aa66;
$dataGreen: #4AAF05;

/* --------------------- Red --------------------- */
$red: #cd0a0a;
$dataRed: #F44E4E;















//preview-cards
$stroke-card: #cfcfcf;
$main-color: $primaryBlue;
$card-h2-color: #969696;
$container-width: 1200px;

