.sidebar {
    min-width: 308px;
    // height: 100%;
    background-color: #f7f7f7;
    border-radius: 0px 28px 28px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 39px;

    a{  
        text-decoration: none;
    }

    &-image{
        height: 80px;
        width: 80px;
        border-radius: 50%;
      }

    &-title{
        font-size: rem(30);
        color: $primaryBlue;
        text-decoration: none;
        margin-top: 12px;
      }

    &-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        
      }
    
    &-button-picto{
        margin-right: 18px;
        margin-left: 20px;
      }

    &-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        margin-top: 38px;
        width: 100%;
        list-style-type: none;
      }

      li{
        display: flex;
        width: 100%;
        align-items: center;
        margin: auto;
      }

      ul{
        
        padding: 0;
      }

    &-button{
        background-color: $navbar-bg;
        color: $navbar-text;
        text-align: left;
        width: 85%;
        height: 65px;
        margin: auto;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 11px;
        cursor: pointer;
      }

    &-button:hover{
        background-color: $main-color;
        color: $white;
        height: 65px;
        box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.25);
      }

    &-button--active{
        background-color: $main-color;
        color: $white;
        height: 65px;
        box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.25);
      }
      
    &-resizer{
    
        border: none;
        background-color: $navbar-bg;
        cursor: pointer;
        color: $main-color;
        font-size: rem(18);
        margin-bottom: 20px;
        margin-right: 20px;
        align-self: flex-end;
        
         > .far {
             margin-right: 10px;
             transition: transform 0.5s ease;
         }
  }
  }
  
  h2{
      margin: 0;
  }
  
  
  
  

  

  
 



// .sidebar {
//     min-width: 308px;
//     height: 100%;
//     background-color: $navbar-bg;
//     border-radius: 0px 28px 28px 0px;
//     h2 {
//         margin-top: 5px;
//     }

//     a {
//         padding: 0;
//         text-decoration: none;

//         > button {
//             background-color: $navbar-bg;
//             color: $navbar-text;
//             text-align: left;
//             width: 261px;
//             height: 50px;
//             padding: 0px 20px;
//             margin: 13.5px 0;
//             border: none;
//             border-radius: 11px;
//             cursor: pointer;

//             &:hover {
//                 background-color: $main-color;
//                 color: $white;
//                 height: 65px;
//                 padding: 14px 20px;
//                 margin: 6px 0;
//                 box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.25);
//             }

//             > .far {
//                 margin-right: 16.35px;
//             }
//         }
//     }

//     p > button {
//         border: none;
//         background-color: $navbar-bg;
//         cursor: pointer;
//         color: $main-color;
//         font-size: rem(18);
//         margin-bottom: 20px;
//         margin-right: 20px;

//         > .far {
//             margin-right: 10px;
//             transition: transform 0.5s ease;
//         }
//     }
    

//     img {
//         margin-top: 39px;
//         height: 80px;
//         width: 80px;
//         border-radius: 50%;
//     }
// }

// @media (max-width: 1024px){
//     .sidebar{
//         min-width: 101px;
//         height: 100%;
//     }
// }

.rotated {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
