.topBar {
    height: 10%;
}

.topBar p {
    color: $main-color;
    font-weight: 600;
}

.topBar p > i {
    margin-left: 10px;
}

.topBar a {
    text-decoration: none;
}

.topBar #profileDiv {
    display: inline-flex;
}

.topBar #profileDiv .fa-toggle-off {
    margin-right: 35px;
    margin-left: 7px;
}

.topBar #profileDiv .fa-moon {
    margin-left: 15px;
}

.topBar #profileDiv button {
    border: none;
    background: none;
    padding:0;
    cursor: pointer;
}

.topBar img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 27px;
}



