.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-right: 2.5%;
}

.navbar p {
    color: $main-color;
    font-weight: 600;
}

.navbar p > i {
    margin-left: 10px;
}

.navbar a {
    text-decoration: none;
}

.navbar #profileDiv {
    display: inline-flex;
}

.navbar #profileDiv .fa-toggle-off {
    margin-right: 35px;
    margin-left: 7px;
}

.navbar #profileDiv .fa-moon {
    margin-left: 15px;
}

.navbar #profileDiv button {
    border: none;
    background: none;
    padding:0;
    cursor: pointer;
}

.navbar img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 27px;
}
