.flash {
    padding: 20px;
    color: white;
    z-index: 2;
    position: fixed;
    top: 3%;
    left: 20%;
    border-width: 1px;
    border-radius: 6px;
  }

  .flash-error {
    background-color: #dc3545;
    border-color: rgba(255, 129, 130, 0.4);
  }
  
  .flash-success {
    background-color: #28a745;
    border-color: rgba(255, 129, 130, 0.4);
  }

  .flash-warn {
    background-color: #ffc107;
    border-color: rgba(255, 129, 130, 0.4);
  }

  .flash-info {
    background-color: #17a2b8;
    border-color: rgba(255, 129, 130, 0.4);
  }

  .flash-dark {
    background-color: #343a40;
    border-color: rgba(255, 129, 130, 0.4);
  }

  .flash-secondary {
    background-color: #6c757d;
    border-color: rgba(255, 129, 130, 0.4);
  }

  .flash-light {
    background-color: #f8f9fa;
    border-color: rgba(255, 129, 130, 0.4);
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }