.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    
    
    & ul {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0;
        align-items: center;
        padding: 0;
        

        & li {
            list-style: none;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 15px;
            cursor: pointer;
            &:hover {
                background-color: #111;
            }
            
            

            & a {
                text-decoration: underline;
                color: #fff;
                padding: 0 15px;
                
            }
        }
    }

    & div{
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            background-color: #111;
        }

        & a {
            text-decoration: underline;
            color: #fff;
            padding: 0 15px;
            
        }
    }
    



    
}
